# /etc/default/delorean

EXCLUDE="Maildir workspace .offlineimap Downloads gnome2/gnome-power-manager .gvfs .cache .evolution Videos Musik gpodder-downloads /usr/src/ .googleearth .kde .local .gajim/avatars/ .gconf .shotwell .goutputstream-* .thumbnails .VirtualBox .adobe .macromedia/Flash_Player .kvm .android/avd ISO"

# This is the User on the server
#REMOTE_USER="delorean"

# The hostname where you put your backup on.
HOST="myserver"

# Don't do backups, when using a mobile connection
#DISABLE_MOBILE="yes"


## simple check what way to use
#if (grep -q mylocal.lan /etc/resolv.conf) ; then
#	HOST="myserver"
#else
#	HOST="myserver.homeip.net"
#
#	FLUXCAPACITOR="/usr/bin/ssh -p 22222"
#fi

#MAIL="user@domain.tld"

# vim:ft=sh

